<ul>
  <li *ngFor="let usuario of usuarios">
    Nombre:
    <p class="nombre">{{ usuario.nombre }}</p>
    Apellido:
    <p class="apellido">{{ usuario.apellido }}</p>
    Email:
    <p class="email">{{ usuario.email }}</p>
    Fecha de nacimiento:
    <p class="fechaNacimiento">
      {{ usuario.fechaNacimiento | date : "dd/MM/yyyy" }}
    </p>
    Dirección:
    <p class="direccion">
      {{ usuario.direccion.calle }}, {{ usuario.direccion.cp }},
      {{ usuario.direccion.ciudad }}
    </p>
  </li>
</ul>
